.welcome {
    text-align: center;
}

.card-title {
    text-align: center;
}

.header {
    margin-top: 75px;
}

.playerone {
    margin: 20px;
    width: 400px;
    position: relative;
    left: 30%;
    height: 250px;
}

.rounds1 {
    margin-top: 35px;
}

.playertwo {
    margin: 20px;
    width: 400px;
    height: 250px;
}

.rounds2 {
    margin-top: 35px;
}

.header {
    width: 400px;
    position: relative;
    left: 35%;
}